---
 title: example
 layout: 'base.njk'
---
  <div class="hero bg-base-200 min-h-dvh">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Marco Pirola</h1>
        <p class="py-6">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
          excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
          id nisi.
        </p>
        <a href="/blog" class="btn btn-primary">Vai al Blog</a>
      </div>
    </div>
  </div>
  <section class="container px-3 sm:px-0 mx-auto">
    <h2 class="font-bold text-3xl mt-10">Posts In Evidenza</h2>
    <ul
    id="featured-posts"
    class="container my-10 mx-auto grid sm:grid-cols-2 lg:grid-cols-3 gap-x-5 gap-y-10"
  >
    {%- for post in collections.featured | reverse -%}
     {% include 'article-snippet.njk' %}
    {%- endfor -%}
  </ul>
  </section>


